.lancamento-nota {
  background-color: #f5f5f5;

  mat-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 1rem;
  }
}

input {
  max-width: 50px;

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

span {
  color: #000 !important;
}

.boletim {

  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  &__cabecalho {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-bottom: 0.75rem;
  }

  &__notas {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
  }
}

button {
  background-color: #131212f8;
}

h3 {
  margin: 1rem 0.25rem;
}

.aprovado {
  color: #4caf50 !important;
  font-weight: 600;
}

.reprovado {
  color: #f44336 !important;
  font-weight: 600;
}